@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');

$font-main: "Lexend Deca";

$color-black: #000000;
$color-blue: #1B77F3;
$color-red: #007bffe0;
$color-white: #FFF;
$color-white-smoke: #F9F9F9;
$color-grey: #C4C4C4;
$color-grey-light: #ECECEC;
$color-grey-medium: #A7A7A7;
$color-grey-deep: #343434;



